In [5]:
import pandas as pd
import numpy as np

In [2]:
label = ['satu', 'dua', 'tiga']

In [3]:
angka = [10, 20, 30]

In [6]:
np_angka = np.array(angka)

In [7]:
np_angka

array([10, 20, 30])

In [35]:
d = {
    'satu': 10,
    'dua': 20,
    'tiga': 30,
}

In [13]:
dataku = pd.Series(
    data=angka, index=label
)

In [14]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [18]:
dataku['satu']

10

In [19]:
np_angka[0]

10

In [20]:
pd.Series(d)

satu    10
dua     20
tiga    30
dtype: int64

In [21]:
pd.Series(np_angka)

0    10
1    20
2    30
dtype: int32

In [23]:
pd.Series(angka)

0    10
1    20
2    30
dtype: int64

In [36]:
dataku = dataku.to_frame()

In [26]:
dataku

       0
satu  10
dua   20
tiga  30

In [31]:
d2 = {
    'satu': 10,
    'dua': 20,
    'tiga': 30,
    'empat': 40,
    'lima': 50,
}

In [ ]:
dataku = pd.Series(d)

In [41]:
dataku

satu    10
dua     20
tiga    30
dtype: int64

In [ ]:
dataku2 = pd.Series(d2)

In [42]:
dataku2

satu     10
dua      20
tiga     30
empat    40
lima     50
dtype: int64

In [39]:
dataku + dataku2  # "empat" dan "lima" akan NaN karena tidak ada pasangan

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64

In [ ]:
#DataFrame

In [45]:
np.random.seed(100)

In [70]:
dataku = pd.DataFrame(
    np.random.randn(3, 5),
    ['A', 'B', 'C'],
    ['satu', 'dua', 'tiga', 'empat', 'lima']

)

In [47]:
dataku

       satu       dua      tiga     empat      lima
A -1.749765  0.342680  1.153036 -0.252436  0.981321
B  0.514219  0.221180 -1.070043 -0.189496  0.255001
C -0.458027  0.435163 -0.583595  0.816847  0.672721

In [48]:
type(dataku['dua'])

pandas.core.series.Series

In [49]:
# .iloc .loc

In [52]:
dataku['baru'] = dataku['empat'] + dataku['lima']

In [53]:
dataku

       satu       dua      tiga     empat      lima      baru
A -1.749765  0.342680  1.153036 -0.252436  0.981321  0.728885
B  0.514219  0.221180 -1.070043 -0.189496  0.255001  0.065506
C -0.458027  0.435163 -0.583595  0.816847  0.672721  1.489568

In [58]:
dataku = dataku.drop('tiga', axis=1)

In [59]:
dataku

       satu       dua     empat      lima      baru
A -1.749765  0.342680 -0.252436  0.981321  0.728885
B  0.514219  0.221180 -0.189496  0.255001  0.065506
C -0.458027  0.435163  0.816847  0.672721  1.489568

In [60]:
dataku.drop('baru', axis=1,  #kolom
            inplace=True)  # artinya menghapus kolom

In [61]:
dataku

       satu       dua     empat      lima
A -1.749765  0.342680 -0.252436  0.981321
B  0.514219  0.221180 -0.189496  0.255001
C -0.458027  0.435163  0.816847  0.672721

In [62]:
dataku.drop('B', axis=0,  #baris
            inplace=True)  #artinya menghapus baris

In [63]:
dataku

       satu       dua     empat      lima
A -1.749765  0.342680 -0.252436  0.981321
C -0.458027  0.435163  0.816847  0.672721

In [64]:
dataku.shape  #(2,4) 2 adalah baris dan 4 adalah kolom

(2, 4)

In [67]:
dataku_bol = dataku < 0  # hanya mengecek bukan untuk mengubah data

In [69]:
dataku[dataku_bol]  # dataku tidak boleh besar dari angka nol kalau tidak maka isi nya akan di buat NaN

       satu  dua     empat  lima
A -1.749765  NaN -0.252436   NaN
C -0.458027  NaN       NaN   NaN

In [74]:
dataku = pd.DataFrame(
    np.random.randn(3, 5),
    ['A', 'B', 'C'],
    ['satu', 'dua', 'tiga', 'empat', 'lima']

)

In [76]:
dataku

       satu       dua      tiga     empat      lima
A -1.733096 -0.983310  0.357508 -1.613579  1.470714
B -1.188018 -0.549746 -0.940046 -0.827932  0.108863
C  0.507810 -0.862227  1.249470 -0.079611 -0.889731

In [77]:
dataku[dataku['tiga'] > 0]  # data kolom harus besar dari angka nol 0

       satu       dua      tiga     empat      lima
A -1.733096 -0.983310  0.357508 -1.613579  1.470714
C  0.507810 -0.862227  1.249470 -0.079611 -0.889731

In [79]:
hasil = dataku[dataku['lima'] > 0]

In [80]:
hasil

       satu       dua      tiga     empat      lima
A -1.733096 -0.983310  0.357508 -1.613579  1.470714
B -1.188018 -0.549746 -0.940046 -0.827932  0.108863

In [81]:
data_titanic = pd.read_csv('kapal_titanic.csv')

In [83]:
age = data_titanic['age']

In [84]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [85]:
age.describe()  # tampil statik

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [86]:
age.count()  # jumlah semua data yang tidak boleh kosong

714

In [88]:
age.mean()  # nilai rata rata

29.69911764705882

In [89]:
age.median()  # nilai tengah

28.0

In [90]:
age.sum()  # jumlah total semua data

21205.17

In [93]:
age.sum(skipna=False)  # akan nan karena ada data yang kosong atau NaN

nan

In [94]:
sum(age)  # akan nan karena ada data yang kosong atau NaN

nan

In [95]:
age.std()

14.526497332334042

In [98]:
age_bersih = age.dropna()  #hilangkan NaN

In [99]:
age_bersih

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: age, Length: 714, dtype: float64

In [103]:
dataku2 = data_titanic.dropna(
    axis=0,  #hilangkan baris
)

In [104]:
dataku2

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
1           1       1  female  38.0      1      0  71.2833        C    C
3           1       1  female  35.0      1      0  53.1000        S    C
6           0       1    male  54.0      0      0  51.8625        S    E
10          1       3  female   4.0      1      1  16.7000        S    G
11          1       1  female  58.0      0      0  26.5500        S    C
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
871         1       1  female  47.0      1      1  52.5542        S    D
872         0       1    male  33.0      0      0   5.0000        S    B
879         1       1  female  56.0      0      1  83.1583        C    C
887         1       1  female  19.0      0      0  30.0000        S    B
889         1       1    male  26.0      0      0  30.0000        C    C

[182 rows x 9 columns]

In [113]:
dataku3 = data_titanic.dropna(
    thresh=2
    #thresh=2# hilangkan nilai apabila ada 2 nilai bukan NaN maka akan di pertahankan
)

In [111]:
dataku3

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
1           1       1  female  38.0      1      0  71.2833        C    C
3           1       1  female  35.0      1      0  53.1000        S    C
6           0       1    male  54.0      0      0  51.8625        S    E
10          1       3  female   4.0      1      1  16.7000        S    G
11          1       1  female  58.0      0      0  26.5500        S    C
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
871         1       1  female  47.0      1      1  52.5542        S    D
872         0       1    male  33.0      0      0   5.0000        S    B
879         1       1  female  56.0      0      1  83.1583        C    C
887         1       1  female  19.0      0      0  30.0000        S    B
889         1       1    male  26.0      0      0  30.0000        C    C

[182 rows x 9 columns]

In [114]:
dataku3.count()

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [115]:
# !!! catatan
# apa bila ada nilai NaN jangan di hilangkan melainkan di isikan nilai rata rata sesuai kolom tersebut

In [136]:
dataku4 = data_titanic

In [137]:
dataku4

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [138]:
dataku4.count()

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [139]:
dataku4.age = dataku4.age.fillna(
    value=dataku4.age.mean(),  # isikan data  
    # inplace=True,  # di timpa data
)

In [135]:
dataku4

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
1           1       1  female  38.0      1      0  71.2833        C    C
3           1       1  female  35.0      1      0  53.1000        S    C
6           0       1    male  54.0      0      0  51.8625        S    E
10          1       3  female   4.0      1      1  16.7000        S    G
11          1       1  female  58.0      0      0  26.5500        S    C
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
871         1       1  female  47.0      1      1  52.5542        S    D
872         0       1    male  33.0      0      0   5.0000        S    B
879         1       1  female  56.0      0      1  83.1583        C    C
887         1       1  female  19.0      0      0  30.0000        S    B
889         1       1    male  26.0      0      0  30.0000        C    C

[182 rows x 9 columns]

In [140]:
dataku4.age

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [142]:
# !!! Catatan
# dalam machine learning data yang di gunakan merupakan Array bukan series

In [145]:
type(dataku4.age)# Series

pandas.core.series.Series

In [148]:
type(dataku4.age.values) # Array

numpy.ndarray

In [147]:
dataku4.age.values

array([22.        , 38.        , 26.        , 35.        , 35.        ,
       29.69911765, 54.        ,  2.        , 27.        , 14.        ,
        4.        , 58.        , 20.        , 39.        , 14.        ,
       55.        ,  2.        , 29.69911765, 31.        , 29.69911765,
       35.        , 34.        , 15.        , 28.        ,  8.        ,
       38.        , 29.69911765, 19.        , 29.69911765, 29.69911765,
       40.        , 29.69911765, 29.69911765, 66.        , 28.        ,
       42.        , 29.69911765, 21.        , 18.        , 14.        ,
       40.        , 27.        , 29.69911765,  3.        , 19.        ,
       29.69911765, 29.69911765, 29.69911765, 29.69911765, 18.        ,
        7.        , 21.        , 49.        , 29.        , 65.        ,
       29.69911765, 21.        , 28.5       ,  5.        , 11.        ,
       22.        , 38.        , 45.        ,  4.        , 29.69911765,
       29.69911765, 29.        , 19.        , 17.        , 26.        ,
       32.        , 16.        , 21.        , 26.        , 32.        ,
       25.        , 29.69911765, 29.69911765,  0.83      , 30.        ,
       22.        , 29.        , 29.69911765, 28.        , 17.        ,
       33.        , 16.        , 29.69911765, 23.        , 24.        ,
       29.        , 20.        , 46.        , 26.        , 59.        ,
       29.69911765, 71.        , 23.        , 34.        , 34.        ,
       28.        , 29.69911765, 21.        , 33.        , 37.        ,
       28.        , 21.        , 29.69911765, 38.        , 29.69911765,
       47.        , 14.5       , 22.        , 20.        , 17.        ,
       21.        , 70.5       , 29.        , 24.        ,  2.        ,
       21.        , 29.69911765, 32.5       , 32.5       , 54.        ,
       12.        , 29.69911765, 24.        , 29.69911765, 45.        ,
       33.        , 20.        , 47.        , 29.        , 25.        ,
       23.        , 19.        , 37.        , 16.        , 24.        ,
       29.69911765, 22.        , 24.        , 19.        , 18.        ,
       19.        , 27.        ,  9.        , 36.5       , 42.        ,
       51.        , 22.        , 55.5       , 40.5       , 29.69911765,
       51.        , 16.        , 30.        , 29.69911765, 29.69911765,
       44.        , 40.        , 26.        , 17.        ,  1.        ,
        9.        , 29.69911765, 45.        , 29.69911765, 28.        ,
       61.        ,  4.        ,  1.        , 21.        , 56.        ,
       18.        , 29.69911765, 50.        , 30.        , 36.        ,
       29.69911765, 29.69911765,  9.        ,  1.        ,  4.        ,
       29.69911765, 29.69911765, 45.        , 40.        , 36.        ,
       32.        , 19.        , 19.        ,  3.        , 44.        ,
       58.        , 29.69911765, 42.        , 29.69911765, 24.        ,
       28.        , 29.69911765, 34.        , 45.5       , 18.        ,
        2.        , 32.        , 26.        , 16.        , 40.        ,
       24.        , 35.        , 22.        , 30.        , 29.69911765,
       31.        , 27.        , 42.        , 32.        , 30.        ,
       16.        , 27.        , 51.        , 29.69911765, 38.        ,
       22.        , 19.        , 20.5       , 18.        , 29.69911765,
       35.        , 29.        , 59.        ,  5.        , 24.        ,
       29.69911765, 44.        ,  8.        , 19.        , 33.        ,
       29.69911765, 29.69911765, 29.        , 22.        , 30.        ,
       44.        , 25.        , 24.        , 37.        , 54.        ,
       29.69911765, 29.        , 62.        , 30.        , 41.        ,
       29.        , 29.69911765, 30.        , 35.        , 50.        ,
       29.69911765,  3.        , 52.        , 40.        , 29.69911765,
       36.        , 16.        , 25.        , 58.        , 35.        ,
       29.69911765, 25.        , 41.        , 37.        , 29.69911765,
       63.        , 45.        , 29.69911765,  7.        , 35.        ,
       65.        , 28.        , 16.        , 19.        , 29.69911765,
       33.        , 30.        , 22.        , 42.        , 22.        ,
       26.        , 19.        , 36.        , 24.        , 24.        ,
       29.69911765, 23.5       ,  2.        , 29.69911765, 50.        ,
       29.69911765, 29.69911765, 19.        , 29.69911765, 29.69911765,
        0.92      , 29.69911765, 17.        , 30.        , 30.        ,
       24.        , 18.        , 26.        , 28.        , 43.        ,
       26.        , 24.        , 54.        , 31.        , 40.        ,
       22.        , 27.        , 30.        , 22.        , 29.69911765,
       36.        , 61.        , 36.        , 31.        , 16.        ,
       29.69911765, 45.5       , 38.        , 16.        , 29.69911765,
       29.69911765, 29.        , 41.        , 45.        , 45.        ,
        2.        , 24.        , 28.        , 25.        , 36.        ,
       24.        , 40.        , 29.69911765,  3.        , 42.        ,
       23.        , 29.69911765, 15.        , 25.        , 29.69911765,
       28.        , 22.        , 38.        , 29.69911765, 29.69911765,
       40.        , 29.        , 45.        , 35.        , 29.69911765,
       30.        , 60.        , 29.69911765, 29.69911765, 24.        ,
       25.        , 18.        , 19.        , 22.        ,  3.        ,
       29.69911765, 22.        , 27.        , 20.        , 19.        ,
       42.        ,  1.        , 32.        , 35.        , 29.69911765,
       18.        ,  1.        , 36.        , 29.69911765, 17.        ,
       36.        , 21.        , 28.        , 23.        , 24.        ,
       22.        , 31.        , 46.        , 23.        , 28.        ,
       39.        , 26.        , 21.        , 28.        , 20.        ,
       34.        , 51.        ,  3.        , 21.        , 29.69911765,
       29.69911765, 29.69911765, 33.        , 29.69911765, 44.        ,
       29.69911765, 34.        , 18.        , 30.        , 10.        ,
       29.69911765, 21.        , 29.        , 28.        , 18.        ,
       29.69911765, 28.        , 19.        , 29.69911765, 32.        ,
       28.        , 29.69911765, 42.        , 17.        , 50.        ,
       14.        , 21.        , 24.        , 64.        , 31.        ,
       45.        , 20.        , 25.        , 28.        , 29.69911765,
        4.        , 13.        , 34.        ,  5.        , 52.        ,
       36.        , 29.69911765, 30.        , 49.        , 29.69911765,
       29.        , 65.        , 29.69911765, 50.        , 29.69911765,
       48.        , 34.        , 47.        , 48.        , 29.69911765,
       38.        , 29.69911765, 56.        , 29.69911765,  0.75      ,
       29.69911765, 38.        , 33.        , 23.        , 22.        ,
       29.69911765, 34.        , 29.        , 22.        ,  2.        ,
        9.        , 29.69911765, 50.        , 63.        , 25.        ,
       29.69911765, 35.        , 58.        , 30.        ,  9.        ,
       29.69911765, 21.        , 55.        , 71.        , 21.        ,
       29.69911765, 54.        , 29.69911765, 25.        , 24.        ,
       17.        , 21.        , 29.69911765, 37.        , 16.        ,
       18.        , 33.        , 29.69911765, 28.        , 26.        ,
       29.        , 29.69911765, 36.        , 54.        , 24.        ,
       47.        , 34.        , 29.69911765, 36.        , 32.        ,
       30.        , 22.        , 29.69911765, 44.        , 29.69911765,
       40.5       , 50.        , 29.69911765, 39.        , 23.        ,
        2.        , 29.69911765, 17.        , 29.69911765, 30.        ,
        7.        , 45.        , 30.        , 29.69911765, 22.        ,
       36.        ,  9.        , 11.        , 32.        , 50.        ,
       64.        , 19.        , 29.69911765, 33.        ,  8.        ,
       17.        , 27.        , 29.69911765, 22.        , 22.        ,
       62.        , 48.        , 29.69911765, 39.        , 36.        ,
       29.69911765, 40.        , 28.        , 29.69911765, 29.69911765,
       24.        , 19.        , 29.        , 29.69911765, 32.        ,
       62.        , 53.        , 36.        , 29.69911765, 16.        ,
       19.        , 34.        , 39.        , 29.69911765, 32.        ,
       25.        , 39.        , 54.        , 36.        , 29.69911765,
       18.        , 47.        , 60.        , 22.        , 29.69911765,
       35.        , 52.        , 47.        , 29.69911765, 37.        ,
       36.        , 29.69911765, 49.        , 29.69911765, 49.        ,
       24.        , 29.69911765, 29.69911765, 44.        , 35.        ,
       36.        , 30.        , 27.        , 22.        , 40.        ,
       39.        , 29.69911765, 29.69911765, 29.69911765, 35.        ,
       24.        , 34.        , 26.        ,  4.        , 26.        ,
       27.        , 42.        , 20.        , 21.        , 21.        ,
       61.        , 57.        , 21.        , 26.        , 29.69911765,
       80.        , 51.        , 32.        , 29.69911765,  9.        ,
       28.        , 32.        , 31.        , 41.        , 29.69911765,
       20.        , 24.        ,  2.        , 29.69911765,  0.75      ,
       48.        , 19.        , 56.        , 29.69911765, 23.        ,
       29.69911765, 18.        , 21.        , 29.69911765, 18.        ,
       24.        , 29.69911765, 32.        , 23.        , 58.        ,
       50.        , 40.        , 47.        , 36.        , 20.        ,
       32.        , 25.        , 29.69911765, 43.        , 29.69911765,
       40.        , 31.        , 70.        , 31.        , 29.69911765,
       18.        , 24.5       , 18.        , 43.        , 36.        ,
       29.69911765, 27.        , 20.        , 14.        , 60.        ,
       25.        , 14.        , 19.        , 18.        , 15.        ,
       31.        ,  4.        , 29.69911765, 25.        , 60.        ,
       52.        , 44.        , 29.69911765, 49.        , 42.        ,
       18.        , 35.        , 18.        , 25.        , 26.        ,
       39.        , 45.        , 42.        , 22.        , 29.69911765,
       24.        , 29.69911765, 48.        , 29.        , 52.        ,
       19.        , 38.        , 27.        , 29.69911765, 33.        ,
        6.        , 17.        , 34.        , 50.        , 27.        ,
       20.        , 30.        , 29.69911765, 25.        , 25.        ,
       29.        , 11.        , 29.69911765, 23.        , 23.        ,
       28.5       , 48.        , 35.        , 29.69911765, 29.69911765,
       29.69911765, 36.        , 21.        , 24.        , 31.        ,
       70.        , 16.        , 30.        , 19.        , 31.        ,
        4.        ,  6.        , 33.        , 23.        , 48.        ,
        0.67      , 28.        , 18.        , 34.        , 33.        ,
       29.69911765, 41.        , 20.        , 36.        , 16.        ,
       51.        , 29.69911765, 30.5       , 29.69911765, 32.        ,
       24.        , 48.        , 57.        , 29.69911765, 54.        ,
       18.        , 29.69911765,  5.        , 29.69911765, 43.        ,
       13.        , 17.        , 29.        , 29.69911765, 25.        ,
       25.        , 18.        ,  8.        ,  1.        , 46.        ,
       29.69911765, 16.        , 29.69911765, 29.69911765, 25.        ,
       39.        , 49.        , 31.        , 30.        , 30.        ,
       34.        , 31.        , 11.        ,  0.42      , 27.        ,
       31.        , 39.        , 18.        , 39.        , 33.        ,
       26.        , 39.        , 35.        ,  6.        , 30.5       ,
       29.69911765, 23.        , 31.        , 43.        , 10.        ,
       52.        , 27.        , 38.        , 27.        ,  2.        ,
       29.69911765, 29.69911765,  1.        , 29.69911765, 62.        ,
       15.        ,  0.83      , 29.69911765, 23.        , 18.        ,
       39.        , 21.        , 29.69911765, 32.        , 29.69911765,
       20.        , 16.        , 30.        , 34.5       , 17.        ,
       42.        , 29.69911765, 35.        , 28.        , 29.69911765,
        4.        , 74.        ,  9.        , 16.        , 44.        ,
       18.        , 45.        , 51.        , 24.        , 29.69911765,
       41.        , 21.        , 48.        , 29.69911765, 24.        ,
       42.        , 27.        , 31.        , 29.69911765,  4.        ,
       26.        , 47.        , 33.        , 47.        , 28.        ,
       15.        , 20.        , 19.        , 29.69911765, 56.        ,
       25.        , 33.        , 22.        , 28.        , 25.        ,
       39.        , 27.        , 19.        , 29.69911765, 26.        ,
       32.        ])